@()


<div id="footer">
    <div id="footer_wrap" class="container_12">
        <div class="grid_3 footer_item">
            <div class="footer_item_wrap">
                <h3>关于看录取</h3>
                <div class="infolinks"><a href="about">关于我们</a></div>
                <div class="infolinks"><a href="contact">联系我们</a></div>
                <div class="infolinks"><a href="terms">使用条款</a></div>
            </div>
        </div>
        <div class="grid_3 footer_item">
            <div class="footer_item_wrap">
                <h3>联系方式</h3>
                <p>深圳市南山区深南大道喜年中心516 <br /><br />
                    0755-888 8888
                </p>

            </div>
        </div>
        <div class="grid_3">
            <h3>看录取公众号</h3>
            <p>&nbsp&nbsp&nbsp 扫一扫并关注我们的微信公众号，第一时间了解高校最新录取申请</p>
        </div>
        <div class="grid_3">
            <img style="width:80%;" src="@routes.Assets.at("images/official_qrcode.jpeg")" />
        </div>
    </div>
</div>

<div id="copyright">
    Copyright © 2017 看录取网络科技有限公司 版权所有 | 粤ICP备12000138号-1
</div>